


!rxvt-unicode.font:              xft:DejaVu Sans Mono:style=Bold:size=9

rxvt-unicode.font:              xft:Terminus:style=Bold:size=10
rxvt-unicode.geometry:          216x63+80+30


rxvt-unicode.visualBell:        False
rxvt-unicode.reverseVideo:      False

rxvt-unicode.saveLines:         5000
rxvt-unicode.scrollBar:         False


rxvt-unicode.foreground:        #000000
rxvt-unicode.background:        #e0e0e0
rxvt-unicode.cursorColor:       #505050

rxvt-unicode.colorBD:           DarkBlue
rxvt-unicode.colorIT:           #ff8000
rxvt-unicode.colorUL:           #ff8000

rxvt-unicode.lineSpace:         1
rxvt-unicode.letterSpace:       0



!
! colors
!

! black
rxvt-unicode.color0:            #f0f0f0
! red
rxvt-unicode.color1:            #af0000
! dark red
rxvt-unicode.color5:            #af275d
! green
rxvt-unicode.color2:            #1a9407
! light green
rxvt-unicode.color10:           #9fda46
! yellow
rxvt-unicode.color3:            #d78700
! blue
rxvt-unicode.color6:            #88aadd
! dark blue
rxvt-unicode.color4:            #3535A8
! white
rxvt-unicode.color7:            #f9f9f9
! blue
rxvt-unicode.color8:            #0066CC
! orange
rxvt-unicode.color9:            #f4a45f
! light yellow
rxvt-unicode.color11:           #ffffaf
! blue
rxvt-unicode.color12:           #3741CE
! magenta
rxvt-unicode.color13:           #e628ba
! light blue
rxvt-unicode.color14:           #99ccff
! light grey
rxvt-unicode.color15:           #dedede


